
game/(win7用户无法启动请用zip中的文件)TUO_19w01b.zip
*.dll
game/Library/players/Hakurei Reimu.zip
game/Library/players/Izayoi Sakuya.zip
game/Library/players/Kirisame Marisa.zip
game/Library/players/Shalimar.zip
game/Library/plugins/CollisionChecker.zip.bak
game/Library/plugins/90minPlus_font.zip
*.exe
game/log.txt
game/Library/setting
game/mod/TUO_testVer_19w03a.zip
game/mod/STAGE3_V0.3(boss_only).zip
*.dat
*.png
*.psi
*.ttf
game/Thlib/UI/UI - 副本.lua
*.psd
*.fnt
*.otf
game/Thlib/UI/font/default_ttf
*.oft
game/Thlib/exani/exani_data/BlendModeTest/test11.jpg
game/Thlib/exani/exani_data/BlendModeTest/test12.jpg
game/Thlib/exani/exani_data/exanitest2/ExaniConfig
game/Thlib/exani/exani_data/SpellCardAttack_example/ExaniConfig
game/Thlib/exani/exani_data/Title_Menu_item_example/ExaniConfig
game/Thlib/exani/exani_data/Title_Menu_item_Exit/ExaniConfig
game/Thlib/exani/exani_data/Title_Menu_item_Exit/UI_title_test.jpg
game/Thlib/exani/exani_data/Title_Menu_item_Gallery/ExaniConfig
game/Thlib/exani/exani_data/Title_Menu_item_Gallery/UI_title_test.jpg
game/Thlib/exani/exani_data/Title_Menu_item_Manual/ExaniConfig
game/Thlib/exani/exani_data/Title_Menu_item_Manual/UI_title_test.jpg
game/Thlib/exani/exani_data/Title_Menu_item_Musicroom/ExaniConfig
game/Thlib/exani/exani_data/Title_Menu_item_Musicroom/UI_title_test.jpg
game/Thlib/exani/exani_data/Title_Menu_item_Option/ExaniConfig
game/Thlib/exani/exani_data/Title_Menu_item_Option/UI_title_test.jpg
game/Thlib/exani/exani_data/Title_Menu_item_PlayerData/ExaniConfig
game/Thlib/exani/exani_data/Title_Menu_item_PlayerData/UI_title_test.jpg
game/Thlib/exani/exani_data/Title_Menu_item_Replay/ExaniConfig
game/Thlib/exani/exani_data/Title_Menu_item_Replay/UI_title_test.jpg
game/Thlib/exani/exani_data/Title_Menu_item_Start/_exani_predefine.lua
game/Thlib/exani/exani_data/Title_Menu_item_Start/ExaniConfig
game/Thlib/exani/exani_data/Title_Menu_refer/_predefine.lua
game/Thlib/exani/exani_data/Title_Menu_refer/ExaniConfig
game/Thlib/exani/exani_data/Title_Menu_refer/UI_title_test.jpg
game/Thlib/exani/exani_data/tmp/ExaniConfig
game/Thlib/exani/exani_data/BlendModeTest/ExaniConfig
game/Thlib/exani/exaniTemp/BlendModeTest/ExaniConfig
game/Thlib/exani/exaniTemp/BlendModeTest/test11.jpg
game/Thlib/exani/exaniTemp/BlendModeTest/test12.jpg
game/Thlib/exani/exaniTemp/exanitest2/ExaniConfig
game/Thlib/exani/exaniTemp/SpellCardAttack_example/ExaniConfig
game/Thlib/exani/exaniTemp/Title_Menu_item_example/ExaniConfig
game/Thlib/exani/exaniTemp/Title_Menu_item_example/UI_title_test.jpg
game/Thlib/exani/exaniTemp/tmp/ExaniConfig
