
game/(win7用户无法启动请用zip中的文件)TUO_19w01b.zip
*.dll
game/Library/players/Hakurei Reimu.zip
game/Library/players/Izayoi Sakuya.zip
game/Library/players/Kirisame Marisa.zip
game/Library/players/Shalimar.zip
game/Library/plugins/CollisionChecker.zip.bak
game/Library/plugins/90minPlus_font.zip
*.exe
game/log.txt
game/Library/setting
game/mod/TUO_testVer_19w03a.zip
game/mod/STAGE3_V0.3(boss_only).zip
*.dat
*.png
*.psi
*.ttf
game/Thlib/UI/UI - 副本.lua
*.psd
*.fnt
*.otf
game/Thlib/UI/font/default_ttf
*.oft
game/Thlib/exani/exani_data/BlendModeTest/test11.jpg
game/Thlib/exani/exani_data/BlendModeTest/test12.jpg
game/Thlib/exani/exani_data/exanitest2/ExaniConfig
game/Thlib/exani/exani_data/SpellCardAttack_example/ExaniConfig
game/Thlib/exani/exani_data/Title_Menu_item_example/ExaniConfig
game/Thlib/exani/exani_data/Title_Menu_item_Exit/ExaniConfig
game/Thlib/exani/exani_data/Title_Menu_item_Exit/UI_title_test.jpg
game/Thlib/exani/exani_data/Title_Menu_item_Gallery/ExaniConfig
game/Thlib/exani/exani_data/Title_Menu_item_Gallery/UI_title_test.jpg
game/Thlib/exani/exani_data/Title_Menu_item_Manual/ExaniConfig
game/Thlib/exani/exani_data/Title_Menu_item_Manual/UI_title_test.jpg
game/Thlib/exani/exani_data/Title_Menu_item_Musicroom/ExaniConfig
game/Thlib/exani/exani_data/Title_Menu_item_Musicroom/UI_title_test.jpg
game/Thlib/exani/exani_data/Title_Menu_item_Option/ExaniConfig
game/Thlib/exani/exani_data/Title_Menu_item_Option/UI_title_test.jpg
game/Thlib/exani/exani_data/Title_Menu_item_PlayerData/ExaniConfig
game/Thlib/exani/exani_data/Title_Menu_item_PlayerData/UI_title_test.jpg
game/Thlib/exani/exani_data/Title_Menu_item_Replay/ExaniConfig
game/Thlib/exani/exani_data/Title_Menu_item_Replay/UI_title_test.jpg
game/Thlib/exani/exani_data/Title_Menu_item_Start/_exani_predefine.lua
game/Thlib/exani/exani_data/Title_Menu_item_Start/ExaniConfig
game/Thlib/exani/exani_data/Title_Menu_refer/_predefine.lua
game/Thlib/exani/exani_data/Title_Menu_refer/ExaniConfig
game/Thlib/exani/exani_data/Title_Menu_refer/UI_title_test.jpg
game/Thlib/exani/exani_data/tmp/ExaniConfig
game/Thlib/exani/exani_data/BlendModeTest/ExaniConfig
game/Thlib/exani/exaniTemp/BlendModeTest/ExaniConfig
game/Thlib/exani/exaniTemp/BlendModeTest/test11.jpg
game/Thlib/exani/exaniTemp/BlendModeTest/test12.jpg
game/Thlib/exani/exaniTemp/exanitest2/ExaniConfig
game/Thlib/exani/exaniTemp/SpellCardAttack_example/ExaniConfig
game/Thlib/exani/exaniTemp/Title_Menu_item_example/ExaniConfig
game/Thlib/exani/exaniTemp/Title_Menu_item_example/UI_title_test.jpg
game/Thlib/exani/exaniTemp/tmp/ExaniConfig
editor/editor/EditorSetting.lua
editor/editor/LuaSTG Editor.xrc
editor/editor/ModuleLoader.lua
editor/editor/NodeColor.lua
editor/editor/NodeConfig.lua
editor/editor/root.lua
editor/editor/se/se.lua
editor/editor/se/se_alert.wav
editor/editor/se/se_astralup.wav
editor/editor/se/se_big.wav
editor/editor/se/se_bonus.wav
editor/editor/se/se_bonus2.wav
editor/editor/se/se_bonus3.wav
editor/editor/se/se_boon00.wav
editor/editor/se/se_boon01.wav
editor/editor/se/se_border.wav
editor/editor/se/se_cancel00.wav
editor/editor/se/se_cardget.wav
editor/editor/se/se_cat00.wav
editor/editor/se/se_cat01.wav
editor/editor/se/se_ch00.wav
editor/editor/se/se_ch01.wav
editor/editor/se/se_ch02.wav
editor/editor/se/se_changeitem.wav
editor/editor/se/se_damage00.wav
editor/editor/se/se_damage01.wav
editor/editor/se/se_don00.wav
editor/editor/se/se_down.wav
editor/editor/se/se_enep00.wav
editor/editor/se/se_enep01.wav
editor/editor/se/se_enep02.wav
editor/editor/se/se_explode.wav
editor/editor/se/se_extend.wav
editor/editor/se/se_extend2.wav
editor/editor/se/se_fault.wav
editor/editor/se/se_focusfix.wav
editor/editor/se/se_focusfix2.wav
editor/editor/se/se_focusin.wav
editor/editor/se/se_graze.wav
editor/editor/se/se_gun00.wav
editor/editor/se/se_heal.wav
editor/editor/se/se_hint00.wav
editor/editor/se/se_hyz_charge00.wav
editor/editor/se/se_hyz_charge01b.wav
editor/editor/se/se_hyz_chargeup.wav
editor/editor/se/se_hyz_eterase.wav
editor/editor/se/se_hyz_exattack.wav
editor/editor/se/se_hyz_gosp.wav
editor/editor/se/se_hyz_life1.wav
editor/editor/se/se_hyz_playerdead.wav
editor/editor/se/se_hyz_timestop0.wav
editor/editor/se/se_hyz_warning.wav
editor/editor/se/se_ice.wav
editor/editor/se/se_ice2.wav
editor/editor/se/se_invalid.wav
editor/editor/se/se_item00.wav
editor/editor/se/se_item01.wav
editor/editor/se/se_kira00.wav
editor/editor/se/se_kira01.wav
editor/editor/se/se_kira02.wav
editor/editor/se/se_lazer00.wav
editor/editor/se/se_lazer01.wav
editor/editor/se/se_lazer02.wav
editor/editor/se/se_lgods1.wav
editor/editor/se/se_lgods2.wav
editor/editor/se/se_lgods3.wav
editor/editor/se/se_lgods4.wav
editor/editor/se/se_lgodsget.wav
editor/editor/se/se_msl.wav
editor/editor/se/se_msl2.wav
editor/editor/se/se_msl3.wav
editor/editor/se/se_nep00.wav
editor/editor/se/se_nice.wav
editor/editor/se/se_nodamage.wav
editor/editor/se/se_noise.wav
editor/editor/se/se_ok00.wav
editor/editor/se/se_old_cat00.wav
editor/editor/se/se_old_enep00.wav
editor/editor/se/se_old_enep01.wav
editor/editor/se/se_old_extend.wav
editor/editor/se/se_old_gun00.wav
editor/editor/se/se_old_kira00.wav
editor/editor/se/se_old_kira01.wav
editor/editor/se/se_old_lazer01.wav
editor/editor/se/se_old_nep00.wav
editor/editor/se/se_old_pldead00.wav
editor/editor/se/se_old_power0.wav
editor/editor/se/se_old_power1.wav
editor/editor/se/se_old_powerup.wav
editor/editor/se/se_ophide.wav
editor/editor/se/se_opshow.wav
editor/editor/se/se_option.wav
editor/editor/se/se_pause.wav
editor/editor/se/se_pin00.wav
editor/editor/se/se_pldead00.wav
editor/editor/se/se_plst00.wav
editor/editor/se/se_power0.wav
editor/editor/se/se_power02.wav
editor/editor/se/se_power1.wav
editor/editor/se/se_power2.wav
editor/editor/se/se_powerup.wav
editor/editor/se/se_powerup1.wav
editor/editor/se/se_select00.wav
editor/editor/se/se_slash.wav
editor/editor/se/se_tan00.wav
editor/editor/se/se_tan01.wav
editor/editor/se/se_tan02.wav
editor/editor/se/se_timeout.wav
editor/editor/se/se_timeout2.wav
editor/editor/se/se_warpl.wav
editor/editor/se/se_warpr.wav
editor/editor/se/se_water.wav
editor/editor/se/se_wolf.wav
editor/editor/Templates.lua
editor/editor/templates/empty.luastg
editor/editor/templates/singlestage.luastg
editor/editor/templates/spellcard.luastg
editor/editor/templates/touhou.luastg
editor/editor/tmp/_editor_output.lua
editor/editor/tmp/_pack_lib.bat
editor/editor/tmp/_pack_res.bat
editor/editor/Tree.lua
editor/LuaSTG Editor.wx (2).wlua
editor/LuaSTG Editor.wx.wlua
editor/mod/4th_weekly_Janril.zip
editor/mod/51th_90plus_ETC.zip
editor/mod/5th_weekly_Janril.zip
editor/mod/LUASTG_STAGE2_DARFT.zip
editor/mod/LUASTG_STAGE2_DARFT1.02.zip
editor/mod/LUASTG_STAGE2_DARFT1.03.zip
editor/mod/player_test.zip
editor/mod/STAGE2_DARFT1.03.zip
editor/mod/STAGE2_DARFT1.04.zip
editor/mod/STAGE2_Draft.zip
editor/mod/STAGE2_V1.04.zip
editor/mod/STAGE2_V1.05.zip
editor/mod/stage2boss_test.zip
editor/mod/STAGE3_Draft.zip
editor/mod/STAGE3_V0.2(boss_only).zip
editor/mod/STAGE3_V0.3(boss_only).zip
editor/mod/THUO_Stage1_insiderVer1.zip
editor/mod/THUO_Stage1_insiderVer2.zip
editor/mod/TUO_STAGE1_V2_4.zip
editor/mod/TUO_testVer_19w01a.zip
editor/mod/TUO_testVer_19w01b.zip
editor/mod/TUO_testVer_19w02a.zip
editor/mod/TUO_testVer_19w03a.zip
editor/pack_log.txt
tools/fonted/fonted.ini
tools/fonted/fonted.log
tools/fonted/fonted.paq
tools/HGE粒子编辑器/particleed.ini
tools/HGE粒子编辑器/particleed.log
tools/HGE粒子编辑器/particleed.paq
tools/textools/texasm.log
game/Library/data.zip
