
sp_log.txt
score/THUO_Stage1_insiderVer2/User.dat
score/TEST2/User.dat
score/STAGE3_Draft/User.dat
score/stage2boss_test/User.dat
score/STAGE2_Draft/User.dat
score/player_test/User.dat
score/LUASTG_STAGE2_DARFT/User.dat
replay/THUO_Stage1_insiderVer2/slot4.rep
replay/THUO_Stage1_insiderVer2/slot3.rep
replay/THUO_Stage1_insiderVer2/slot2.rep
replay/THUO_Stage1_insiderVer2/slot1.rep
mod/THUO_Stage1_insiderVer2.zip
mod/TEST2.zip
mod/STAGE3_Draft.zip
mod/stage2boss_test.zip
mod/STAGE2_Draft.zip
mod/player_test.zip
mod/LUASTG_STAGE2_DARFT.zip
LuaSTGServer.exe
LuaSTGPlus.exe
LuaSTGPlus.dev.exe
lua51.dll
log.txt
Library/setting
Library/se_powerup1.wav
Library/se_powerup.wav
Library/se_plst00.wav
Library/se_item00.wav
Library/se_graze.wav
Library/se_extend.wav
Library/se_cardget.wav
Library/se/Thlib/se/se_wolf.wav
Library/se/Thlib/se/se_water.wav
Library/se/Thlib/se/se_warpr.wav
Library/se/Thlib/se/se_warpl.wav
Library/se/Thlib/se/se_timeout2.wav
Library/se/Thlib/se/se_timeout.wav
Library/se/Thlib/se/se_tan02.wav
Library/se/Thlib/se/se_tan01.wav
Library/se/Thlib/se/se_tan00.wav
Library/se/Thlib/se/se_slash.wav
Library/se/Thlib/se/se_select00.wav
Library/se/Thlib/se/se_powerup1.wav
Library/se/Thlib/se/se_powerup.wav
Library/se/Thlib/se/se_power2.wav
Library/se/Thlib/se/se_power1.wav
Library/se/Thlib/se/se_power02.wav
Library/se/Thlib/se/se_power0.wav
Library/se/Thlib/se/se_plst00.wav
Library/se/Thlib/se/se_pldead00.wav
Library/se/Thlib/se/se_pin00.wav
Library/se/Thlib/se/se_pause.wav
Library/se/Thlib/se/se_option.wav
Library/se/Thlib/se/se_opshow.wav
Library/se/Thlib/se/se_ophide.wav
Library/se/Thlib/se/se_old_powerup.wav
Library/se/Thlib/se/se_old_power1.wav
Library/se/Thlib/se/se_old_power0.wav
Library/se/Thlib/se/se_old_pldead00.wav
Library/se/Thlib/se/se_old_nep00.wav
Library/se/Thlib/se/se_old_lazer01.wav
Library/se/Thlib/se/se_old_kira01.wav
Library/se/Thlib/se/se_old_kira00.wav
Library/se/Thlib/se/se_old_gun00.wav
Library/se/Thlib/se/se_old_extend.wav
Library/se/Thlib/se/se_old_enep01.wav
Library/se/Thlib/se/se_old_enep00.wav
Library/se/Thlib/se/se_old_cat00.wav
Library/se/Thlib/se/se_ok00.wav
Library/se/Thlib/se/se_noise.wav
Library/se/Thlib/se/se_nodamage.wav
Library/se/Thlib/se/se_nice.wav
Library/se/Thlib/se/se_nep00.wav
Library/se/Thlib/se/se_msl3.wav
Library/se/Thlib/se/se_msl2.wav
Library/se/Thlib/se/se_msl.wav
Library/se/Thlib/se/se_lgodsget.wav
Library/se/Thlib/se/se_lgods4.wav
Library/se/Thlib/se/se_lgods3.wav
Library/se/Thlib/se/se_lgods2.wav
Library/se/Thlib/se/se_lgods1.wav
Library/se/Thlib/se/se_lazer02.wav
Library/se/Thlib/se/se_lazer01.wav
Library/se/Thlib/se/se_lazer00.wav
Library/se/Thlib/se/se_kira02.wav
Library/se/Thlib/se/se_kira01.wav
Library/se/Thlib/se/se_kira00.wav
Library/se/Thlib/se/se_item01.wav
Library/se/Thlib/se/se_item00.wav
Library/se/Thlib/se/se_invalid.wav
Library/se/Thlib/se/se_ice2.wav
Library/se/Thlib/se/se_ice.wav
Library/se/Thlib/se/se_hyz_warning.wav
Library/se/Thlib/se/se_hyz_timestop0.wav
Library/se/Thlib/se/se_hyz_playerdead.wav
Library/se/Thlib/se/se_hyz_life1.wav
Library/se/Thlib/se/se_hyz_gosp.wav
Library/se/Thlib/se/se_hyz_exattack.wav
Library/se/Thlib/se/se_hyz_eterase.wav
Library/se/Thlib/se/se_hyz_chargeup.wav
Library/se/Thlib/se/se_hyz_charge01b.wav
Library/se/Thlib/se/se_hyz_charge00.wav
Library/se/Thlib/se/se_hint00.wav
Library/se/Thlib/se/se_heal.wav
Library/se/Thlib/se/se_gun00.wav
Library/se/Thlib/se/se_graze.wav
Library/se/Thlib/se/se_focusin.wav
Library/se/Thlib/se/se_focusfix2.wav
Library/se/Thlib/se/se_focusfix.wav
Library/se/Thlib/se/se_fault.wav
Library/se/Thlib/se/se_extend2.wav
Library/se/Thlib/se/se_extend.wav
Library/se/Thlib/se/se_explode.wav
Library/se/Thlib/se/se_enep02.wav
Library/se/Thlib/se/se_enep01.wav
Library/se/Thlib/se/se_enep00.wav
Library/se/Thlib/se/se_down.wav
Library/se/Thlib/se/se_don00.wav
Library/se/Thlib/se/se_damage01.wav
Library/se/Thlib/se/se_damage00.wav
Library/se/Thlib/se/se_changeitem.wav
Library/se/Thlib/se/se_ch02.wav
Library/se/Thlib/se/se_ch01.wav
Library/se/Thlib/se/se_ch00.wav
Library/se/Thlib/se/se_cat01.wav
Library/se/Thlib/se/se_cat00.wav
Library/se/Thlib/se/se_cardget.wav
Library/se/Thlib/se/se_cancel00.wav
Library/se/Thlib/se/se_border.wav
Library/se/Thlib/se/se_boon01.wav
Library/se/Thlib/se/se_boon00.wav
Library/se/Thlib/se/se_bonus3.wav
Library/se/Thlib/se/se_bonus2.wav
Library/se/Thlib/se/se_bonus.wav
Library/se/Thlib/se/se_big.wav
Library/se/Thlib/se/se_astralup.wav
Library/se/Thlib/se/se_alert.wav
Library/se.zip
launch
fancy2D.dll
Library/Player_shoot0.wav
Library/players/Hakurei Reimu.zip
Library/players/Izayoi Sakuya.zip
Library/players/Kirisame Marisa.zip
Library/players/Shalimar.zip
Library/plugins/90minPlus_font.zip
Library/plugins/CollisionChecker.zip
Library/plugins/PluginConfig
Library/network.txt
Library/music.zip
Library/font.zip
Library/data.zip
Library/background.zip
